*.np
*.pyc
*.swp
*~
*.aux
*.log
.DS_Store
.metadata/
.project
.pydevproject
clustering/elki_out/*
data.dat
/python_data/test_chains/AutogradeStyle/nbproject/private/
/python_data/test_chains/AutogradeStyle/build/
/python_data/test_chains/AutogradeStyle/dist/799data/
count_words_data/
count_words_latest
