.DocumentList {
    overflow-x:scroll;
    overflow-y:hidden;
    height:200px;
    padding: 0 15px;
    white-space: nowrap;
    position: relative;
}
.row {
    width: 500%;
}
.DocumentItem {
    border:1px solid black;
    padding:0;
    height:200px;
    width: 200px;
}