<!DOCTYPE html>
 <html>
 <head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Autograding for Style</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/slider.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contrib/codemirror/lib/codemirror.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/plot.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/bootstrap.min.js')}}" />
  <script type='text/javascript' src='//code.jquery.com/jquery-1.10.1.js'></script>
  <script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='owl/assets/owl.carousel.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='owl/assets/owl.carousel.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='owl/assets/owl.theme.default.min.css')}}">
  <script src="{{ url_for('static', filename='owl/owl.carousel.js')}}"></script>
  <style>

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  max-width: 900px;
  max-height: 1200px;
  pointer-events: none;
}

</style>
</head>

<body style="position: relative; min-height: 120%">

    <!-- Begin page content -->
    <div class="wrapper" id="main-content">
      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header" style="">
          <a class="navbar-brand" href="#">Autograding for Style</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="../">Home</a></li>
            <li class="active"><a href="../plot">Plot</a></li>
            <li><a href="../chain">Chain</a></li>
            <li><a href="../improve">Improve</a></li>
        </ul>
 <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
          <select class="form-control" name="directory">
            {% for d in directories %}
              {% if d == directory %}
                <option value="{{d}}" selected="selected">{{d}}</option>
              {% else %}
                <option value="{{d}}">{{d}}</option>
              {% endif %}
            {% endfor %}
          </select>
          <button type="submit" class="btn btn-success" style="background-color: #5cb85c; border-color: #4cae4c">Submit</button>
          </form>
        </div>       
      </div>
    </nav>

<!-- Example based on http://bl.ocks.org/mbostock/3887118 -->
<!-- Tooltip example from http://www.d3noob.org/2013/01/adding-tooltips-to-d3js-graph.html and https://gist.github.com/biovisualize/1016860 -->
<script src=../static/js/d3.v3.min.js></script>
<script>

var w = $(window).width();
var h = $(window).height();

var margin = {top: 90, right: 20, bottom: 30, left: 40},
    width = 960 - margin.left - margin.right,
    height = 720 - margin.top - margin.bottom;

var padding = {
    x: 1,
    y: 1 
};


var scene = {
    x: margin.left + padding.x,
    y: margin.top + padding.y,
    width: w - (margin.left * 2) - (padding.x * 2),
    height: h - (margin.top * 2) - (padding.y * 2)
};

/* 
 * value accessor - returns the value to encode for a given data object.
 * scale - maps value to a visual display encoding, such as a pixel position.
 * map function - maps from data value to display value
 * axis - sets up axis
 */ 

// setup x 
var xValue = function(d) { return d.xaxis;}, // data -> value
    xScale = d3.scale.linear().range([0, width]), // value -> display
    xMap = function(d) { return xScale(xValue(d));}, // data -> display
    xAxis = d3.svg.axis().scale(xScale).orient("bottom");

// setup y
var yValue = function(d) { return d.yaxis;}, // data -> value
    yScale = d3.scale.linear().range([height, 0]), // value -> display
    yMap = function(d) { return yScale(yValue(d));}, // data -> display
    yAxis = d3.svg.axis().scale(yScale).orient("left");

// setup fill color
var cValue = function(d) { return 0;},
    color = d3.scale.category10();

// add the graph canvas to the body of the webpage
var svg = d3.select("#main-content").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

// add the tooltip area to the webpage
var tooltip = d3.select("#main-content").append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);

// load data
    d3.csv("coordinates/" + "{{ directory }}", function(error, data) {

  // change string (from CSV) into number format
  data.forEach(function(d) {
    d.filename = d.filename;
    d.xaxis = +d.xaxis;
    d.yaxis = +d.yaxis;
  });

  // don't want dots overlapping axis, so add in buffer to data domain
  xScale.domain([d3.min(data, xValue)-1, d3.max(data, xValue)+1]);
  yScale.domain([d3.min(data, yValue)-1, d3.max(data, yValue)+1]);

  // x-axis
  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis)
    .append("text")
      .attr("class", "label")
      .attr("x", width)
      .attr("y", -6)
      .style("text-anchor", "end")
      .text("X Axis");

  // y-axis
  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("class", "label")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Y Axis");

  function readTextFile(file, d)
  {
      var rawFile = new XMLHttpRequest();
      rawFile.open("GET", file, false);
      rawFile.onreadystatechange = function ()
      {
          if(rawFile.readyState === 4)
          {
              if(rawFile.status === 200 || rawFile.status == 0)
              {
                  var allText = rawFile.responseText;
                  //alert(allText);
                  tooltip.transition()
                        .duration(200)
                        .style("opacity", .9);
                  tooltip.html("file: " + d.filename + ", flog: <span style='color: green'>" + d.flog + "</span>" + 
                          "<br><div style='background:lightsteelblue; max-width: 900px; border-radius:8px; border: 0px; padding:4px 8px 4px 8px;'><pre style=\"font-size: 10px\">" + allText + "</pre></div>")
                        .style("left", (d3.event.pageX + 16) + "px")
                        .style("top", function() {
                            var pos = positionTooltip(
                                {
                                x: d3.event.pageX,
                                y: d3.event.pageY
                                }, scene, tooltip);
                            return (pos.top - 10) + "px";
                        }

);
              }
          }
      }
      rawFile.send(null);
  }

    function positionTooltip(mouse, scene, tooltip)
    {
        //Distance of element from the right edge of viewport
        if (scene.width - (mouse.x + tooltip.width) < 20)
        { //If tooltip exceeds the X coordinate of viewport
            mouse.x = mouse.x - tooltip.width - 20;
        }
        //Distance of element from the bottom of viewport
        if (scene.height - (mouse.y + $('.tooltip').height()
) < 5)
        { //If tooltip exceeds the Y coordinate of viewport
            mouse.y = mouse.y - $('.tooltip').height() + 20;
        }
        return {
            top: mouse.y,
            left: mouse.x
        };
    }

  // draw dots
  svg.selectAll(".dot")
      .data(data)
    .enter().append("circle")
      .attr("class", "dot")
      .attr("r", 3.5)
      .attr("cx", xMap)
      .attr("cy", yMap)
      .style("fill", function(d) { return color(cValue(d));}) 
      .on("mouseover", function(d) { 
      readTextFile("src/{{ directory }}/" + d.filename, d);
      })
      .on("mouseout", function(d) {
          tooltip.transition()
               .duration(500)
               .style("opacity", 0);
      })
      .on("click", function(d) {
        var form_new = document.createElement("form");
        var params = {"start":d.filename, "directory":"{{ directory }}", "feedback":"", "ast_slider":"3", "flog_slider":"0"};
        form_new.setAttribute("method", "post");
        form_new.setAttribute("action", "/submit_form/");
        for(var key in params) {
            if(params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);

                form_new.appendChild(hiddenField);
            }
        }
        document.body.appendChild(form_new);
        form_new.submit();
      });
});

</script>

<script>
  var forms = document.querySelectorAll("form")
  var form = forms[0];
  form.addEventListener("submit", function(event) {
    event.preventDefault(); 
    var params = {"directory":form.elements.directory.value};
    var form_new = document.createElement("form");
    form_new.setAttribute("method", "post");
    form_new.setAttribute("action", "/submit_plot/");
    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form_new.appendChild(hiddenField);
         }
    }

    document.body.appendChild(form_new);
    form_new.submit();

  });

</script>

    </div>
<div id="footer">
    <div class="container">
        <p class="text-muted credit"><br><u>Autograding for Style</u>: Rohan Roy Choudhury, Joseph Moghadam, HeZheng Yin, Mukund Chillakanti, Armando Fox <br> Last updated: 2 September 2015</p>
    </div>
</div>

</body>
</html>


